.calendar {
    height: 250px;
    background-color: gray;
}

.monthAndYear {
    height: 35px;
}

.monthAndYear div {
    margin-right: 15%;
}

.callList {
    height: 450px;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.main .form-control{
    width: 25%;
    height: auto;
}

.btn-block {
    height: 27%;
}


