.calendar {
    height: 250px;
    background-color: gray;
}

.monthAndYear {
    height: 35px;
}

.monthAndYear div {
    margin-right: 15%;
}
.callList {
    height: 450px;
    background-color: gray;
}

.main .form-control{
    width: 25%;
    height: auto;
}

.btn-block {
    height: 27%;

}

